</div>
</div>
<div class="footer container-fluid">
  <div class="container">
    <div class="row">
      <div class="social-profiles col-md-6 col-lg-6 col-sm-12">
        <h6>Follow me on:</h6>
        <a class="dribbble" href="https://dribbble.com/kamil_jura">Dribbble</a><br />
        <a class="dribbble" href="https://twitter.com/kamil_jura">Twitter</a>
      </div>
      <div class="donate-wallets  col-md-6 col-lg-6 col-sm-12">
          <ul>
            <li><strong>ETH:</strong> {{ site.eth_address }}</li>
          </ul>
      </div>
    </div>
    <div class="copyrights">
      &copy; {{ 'now' | date: "%Y" }} by Dark Cryptonian. All rights reserved
    </div>
  </div>
</div>

<!-- SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../assets/javascript/read-progress.js"></script>
