.footer {
  margin-top: 104px;
  padding-top: 208px;
  background-image: url("../assets/images/partials/footer-background.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

.copyrights {
  margin-top: 72px;
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #CCCAD9;
    margin-bottom: 40px;
  }
}
